{
  "oauth": "oauth:YOUR OAUTH HERE",
  "twitchChannel": "#YOURCHANNELNAME",
  "broadcaster": "YOURNAME",
  "hostName": "irc.twitch.tv",
  "port": 6667,
  "export": true,
  "exportPath": "C:\\YOUR\\PATH\\"
}